doctype
html(lang='en')
	head
		meta(charset="utf-8")
		title Voice test

		link(rel='stylesheet', href='../css/app.main.css')
	body

		div
			h1 Voice test
			
			textarea(id='textSpoken', cols="60", rows="10")

			
			button(id="btnCaptureVoice") capture my voice
		
		
		script(src="../script/app.main.js")
