$textColor : #333;

body{
	font-family: sans-serif;
	background: #eee;

}

#textSpoken{
	font: 500 1em/1em Helvetica, Tahoma, sans-serif;
	color: $textColor;
}

#editor{display:none;}
.wrapper .visible{display:block !important;}


.product{
	&.active{
		background: purple;
	}
}